*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.justifySB{
    justify-content: space-between;
}

.justifyCenter{
    justify-content: center;
}

.alignCenter{
    align-items: center;
}

.inLineList{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.blueButton{
    border-radius: 0;
    background-color: #0061ff;
    border: none;
    font-size: 1em;
}

.WhiteLink{
    color: white;
}

.W50{
    width: 50%;
}

.W100{
    width: 100%;
}

.Fdirection{
    flex-direction: column;
}

.FWrap{
    flex-wrap: wrap;
}


/* HEADER */

header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: white;
}

header > nav {
    align-items: center;
    height: 80px;
    margin: 0 1em;
}

header nav .inLineList > li > a {
    color: black;
}

#ScatolaNavLeft{
    width: 40%;
    align-items: center;
}

#ScatolaNavRight{
    height: 80px;
    align-items: center;
}


.inLineList li {
    margin: 0 1em;
}

#ButtonInizia{
    padding: 0.5em 1em;
}




/* MAIN */

main{
    margin-top: 80px;
}

.boxed1{
    width: 1200px;
    margin: auto;

}

.boxed2{
    width: 1000px;
    margin: auto;
}

/* SECTION1 */
#Section1{
    width: 100%;
    height: 700px;
    background-color: #b4d0e7;
}


h1{
    font-size: 4em;
    margin-bottom: 50px;
    font-weight: 800;
    padding-top: 100px;
}


#ScatolaimgSection1{
    width: 70%;
}

#ScatolaDescrSection1{
    width: 70%;
}

#ButtonProva{
    margin: 2em 0 2em 0;
    padding: 1em;
}

#Arrow{
    margin-top: 105px;
    font-size: 2em;
}

/* SECTION2 */

#Section2{
    margin-top: 160px;
}

h2{
    font-size: 2em;
    margin-bottom: 70px;
}

#buttonRadio{
    border: 4px solid #0061ff ;
    border-radius: 50%;
    width: 9%;
    height: 100%;
}

#buttonRadio2{
    border: 1px solid lightgrey ;
    border-radius: 50%;
    width: 9%;
    height: 100%;
}

.radioW{
    width: 20%;
}

#PianoBusinessBox{
    margin-top: 2em;
    justify-content: space-between;
    margin-bottom: 2em;
}

.BoxPiano{
    height: 950px;
    width: 30%;
}

span{
    display: block;
}

.border{
    border: 1px solid lightgrey;
}

.paddingPiano{
    padding: 0.5em 3em;
}

.padding20px{
    padding: 20px;
}

.padding1em{
    padding: 1em 0 1em 0;

}

.padding2em{
    padding: 2em 0 2em 0;
}

.paddingButton{
    padding: 0.5em 1.5em;
}


h4{
    padding-bottom: 10px;
    font-size: x-large;
}

.fontbold{
    font-weight: bold;
}

.colorGrey{
    color: grey;
}

h6{
    font-size: 1em;
    padding: 1em 0 1em 0;
    margin-top: 2em;

}

.LinkAcquista{
    text-decoration: underline;
    color: #0061ff;
}

.HalfHr{
    height: 20px;
    width: 20%;
    border-bottom: 1px solid lightgray;
}

.fa-check{
    color: #0061ff;
}

.buttonW{
    width: 250px;
}

#imgPartner{
    width: 60%;
}

#descrPartner{
    width: 40%;
    padding: 3em;
}

#PartnerBox{
    margin-top: 6em;
    margin-bottom: 6em;
}

#PartnerButton{
    background-color: white;
    padding: 10px;
    border-color: darkgray;
    margin-top: 2em;
}

#PartnerButton > a {
    color: black;
}

.operationBox{
    width: calc(100%/3);
    padding: 25px;
}

#ScatolaScopri{
    margin: 7em 0 7em 0;
    width: 50%;
}

/* SECTION LOGHI */

.filter{
    filter: invert(1);
}

#ScatolaLoghi{
    width: 100%;
    height: 650px;
}

.loghiBox{
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.LogoBox{
    width: 50%;
    height: 50%;
}

#Logo1{
    background-color: #a2d39b;
}

#Logo2{
    background-color: #61082b;
}

#Logo3{
    background-color: #0093ce;
}

#Logo4{
    background-color: #ff1c1c;
}

#Logo5{
    background-color: #ff1c1c;
}

#Logo6{
    background-color: #b4d0e7;
}

#Logo7{
    background-color: #0d2481;
}

#Logo8{
    background-color: #ffd830;
}

#BoxLogoCentrale{
    background-color: #f5f5f5;
    padding: 2em;
    overflow-y: scroll;
}